/*mystyle*/
body {
	background-color: #000023;
}

h1 {
	color: gray;
	margin-top: 0;
	padding-top: 3em;
	padding-bottom: 2em;
	font-family: 'Michroma', sans-serif;
}

.container-mystyle {
	width: 100%;
	margin-bottom: 10em;
	padding-bottom: 10em;
	text-align: center;
}

p 	{
	padding-bottom: 25em
}
/*mystyle*/

/*navbar*/
.nav {
	top: 0;
	background-color: black;
	position: fixed;
	width: 100%;
	height: 50px;
	padding-right: 5em;
	padding-top: 5px;
	opacity: 0.65;
}

.navhome {
	width: 50%;
	float: left;
}

.menu {
	width: 50%;
	display: inline-block;

}

.nav li {	
	display: inline-block;
	float: right;
	padding-top: 11px;
	margin-right: 5em;
}

.nav ul li a {
	color: #f2f2f2
}


.nav a:hover {
	color: yellow;
	text-decoration: none;
}

.nav a {
	transition: color 800ms;
	text-decoration: none;
}
/*navbar*/

/*glyphs*/
.glyphicon {
	color: yellow
}

.glyphicon:before {
  margin-right: 15px;
}

.glyphicon:hover {
	color:red;
}

h2 {
	font-size: 20px
}

p 	{
	margin: 0;
	font-size: 15px
}

li {
	margin-top: 0;
	margin-right: 2em;
}
/*glyphs*/

/*logo navbar glitch*/
.navhome {
	background: url("../img/logo nav gl2.jpg") no-repeat;
}

#navhome img:hover {
	opacity: 0;
}
/*logo navbar glitch*/




